
.title-link{
  color:white;
  width: 8em;
  margin: 20px;
  font-size: 2vw;
  
    font: 400 Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    letter-spacing: normal;
  transform: translate(0, -30vh);
  border-radius: 8px;
  padding: 10px;
  
  background-color: #AB87FF;
}
.nav-wrapper{
  background: black;
}
.subHeading{
  transform: translate(0, -30vh);
  font: 400 Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
  font-size: 20px;
  color: white;
}
.big_logo{
  transform: translate(0, -30vh);
  width: 20vw;
  height: auto;
}
.big_logo_mobile{
  transform: translate(0, -30vh);
  width: 70vw;
  height: auto;
}
.row {
  flew-wrap: wrap;
}
.col {
  flew-wrap: wrap;
  align-content:centtr;
}